<Header id="header-container">
    <h1>Sony CD player database application</h1>
    {% if searchable %}
    <div id="search-container">
        <form action="/search">
            <input type="text" placeholder="Search {% if group %}from {{ group.title }}{% else %}all discs{% endif %}..." name="search" id="search-text">
            <input type="hidden" name="group" value="{{ group.id }}">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>
    {% endif %}
    <p>{{ disc_count }} / {{ disc_capacity }} discs filled</p>
</Header>