{% extends "cdp_db_site_app/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">

    {#    Upper disc carousel    #}
    {% include 'cdp_db_site_app/components/disc_carousel.html' %}

    <link rel="stylesheet" href="{% static 'edit_style.css' %}">

    {#   Disc edit title   #}
    <div id="edit-title-container">
        <hr>
        <span>EDIT DISC #{{ current_disc.position }}</span>
        <hr>
    </div>

    {#   Disc edit content   #}
    <div id="edit-content">

        {#    Component-injected form    #}
        {#    TODO: errorlist needs styling    #}
        <form action="/edit/{{ current_disc.position }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="SAVE" id="submit-button" class="edit-page-button">
        </form>

        {#    Cancel button    #}
        <a id="cancel-button-container" href="/{{ current_disc.position }}"><button class="edit-page-button" id="cancel-button">CANCEL</button></a>
    </div>

{% endblock %}