{% extends "cdp_db_site_app/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">

    <h1>Add a group</h1>

    <div id="form-edit-content">
        <form action="{% if groupid == -1 %}/group/add{% else %}/group/{{ groupid }}/edit{% endif %}" method="post">
            {% csrf_token %}
            <div>
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div>
                {{ form.color.errors }}
                {{ form.color.label_tag }}
                {#    TODO: fill name programmatically    #}
                <input type="color" name="color" maxlength="7" required id="{{ form.color.id_for_label }}"/>
            </div>
            <input type="submit" value="SAVE" id="submit-button" class="edit-page-button">
        </form>

        <a id="cancel-button-container" href="/1"><button class="edit-page-button" id="cancel-button">CANCEL</button></a>
    </div>

{% endblock %}