{% extends "cdp_db_site_app/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">

    {#    Upper disc carousel    #}
    <div id="disc-carousel-container">
        <div class="disc-scroll-button-container">
            <a href="/{{ next_scrolls.1 }}">
                <button class="slide-button">&triangleleft;</button>
            </a>
            <a href="/{{ next_scrolls.3 }}">
                <button class="slide-button big-scroll">&triangleleft;&triangleleft;</button>
            </a>
        </div>

        <div id="disc-carousel">
            {% for disc in discs %}
            <div class="disc {% if disc.title == "_" %} empty-disc {% endif %} {% if disc.position == current_disc.position %} active-disc {% endif %}">
                <a href="/{{ disc.position }}">
                    <img src="{{ disc.image }}" class="disc-image">
                    <h2 class="disc-number">{{ disc.position }}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="disc-scroll-button-container">
            <a href="/{{ next_scrolls.0 }}">
                <button class="slide-button">&triangleright;</button>
            </a>
            <a href="/{{ next_scrolls.2 }}">
                <button class="slide-button big-scroll">&triangleright;&triangleright;</button>
            </a>
        </div>
    </div>

    {#    Group tab bar    #}
    <div id="group-container">
        <h2>Group:</h2>
        <div id="group-list">
            {% for group in groups %}
                <button class="group-button" style="background-color: {{ group.color }}">{{ group.title }}</button>
            {% endfor %}
        </div>
        <button id="new-group-button" class="group-button">+ NEW</button>
    </div>

    {#    Disc info container     #}
    <div id="info-container">
        <div id="text-panel">
            {% if current_disc.title == "_" %}
                <h2 id="text-title">There is no disc in slot #{{ current_disc.position }}</h2>
            {% else %}
                <h2 id="text-title">Title: {{ current_disc.title }}</h2>
                <h2 id="text-group">Group:
                    {% if current_disc.group == None %}
                        NO GROUP
                    {% else %}
                        <button class="group-button" style="background-color: {{ current_disc.group.color }}"> {{ current_disc.group.title }}</button>
                    {% endif %}
                </h2>
                <h2 id="text-discnum">Disc #: {{ current_disc.position }}</h2>
            {% endif %}
        </div>
        <div id="button-panel">
            {% if current_disc.title != "_" %}
                <button>RETRIEVE</button>
            {% endif %}
            <a href="/edit/{{ current_disc.position }}"><button>EDIT</button></a>
            {% if current_disc.title != "_" %}
                <a href="/discs/remove/{{ current_disc.position }}"><button>DELETE</button></a>
            {% endif %}
        </div>
        <div id="big-image">
            <img src="{{ current_disc.image }}">
        </div>
    </div>
{% endblock %}